<section>
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="container">
                <div class="row">
                  <div class="col card">
                    Column
                  </div>
                  <div class="col">
                    Column
                  </div>
                  <div class="col">
                    Column
                  </div>
                  <div class="col">
                    Column
                  </div>
                </div>
              </div>
            
          </div>
        </div>
       
      </div>
</section>

  
{% schema %}
{
  "name": "Footer page",
  "settings": [
         
              ],
  "presets": [
              {
                  "category": "footer-pages",
                  "name": "footer-page"
              }
              ]
}
{% endschema %}